.form-group {
    background: rgba(144, 153, 162, .90);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;

}

#button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}