
/*
Rose Gold: #bd8c7d

Soft Gold: #d1bfa7

Silver: #8e8e90

Onyx: #49494b
*/

.journal-photo-col {
    width: 200px;
    height: auto;
    display: table-cell;
}

.journal-photo {
    display: table-row;
    height: 200px;
    width: auto;
    object-fit: cover;
    object-position: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    border: none !important;
    /*outline: 1px solid;*/
    height: min-content;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    vertical-align: text-bottom;
}

td {
    border: none !important;
    /*outline: 1px solid;*/
    height: min-content;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    vertical-align: top;
}

.journal-label {
    width: 50px;
}

.row {
    display: table-row;
    /*width: 100%;*/
    padding-left: 15px;
}

.journal-entry {
    display: table-row;
    padding: 100px;
    width: 50%;
    box-shadow: 0 0 0 1px black;
    border-radius: 5px;;
}

.log-table {
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
    border: none;
}

.date-time-row.date {
    width: 200px;
}

.date-time-row {
    display: table-header-group;
    width: 100%;
}

.tea-info-header {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 1px 1px;
}

.tea-info-row {
    display: table-row-group;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 1px 1px;
}

.notes-row {
    display: table-row;
    width: 100%;
}

.notes-row.notes {
    display: table-row;
    width: 100%;
}

.notes-header {
    padding-top: 50px;
}



