.entry-box {
    background-color: #8a8aac;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: "Amatic SC";
    font-size: 200%;
}

.journal-photo-col {
    width: 200px;
    height: auto;
    display: table-cell;
    font-family: "Amatic SC";
}

.journal-photo {
    /*display: table-row;*/
    display: inline;
    height: 200px;
    width: auto;
    object-fit: cover;
    object-position: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #8a8aac !important;
    border-radius: 15px;
    font-family: "Amatic SC";
}

th.journal-label {
    height: 20px;
    background-color: #8a8aac;
    font-family: "Amatic SC";
    font-size: 200%;
}

.row {
    display: table-row;
    padding-left: 15px;
    font-family: "Amatic SC";
}

.journal-entry {
    display: table-row;
    padding: 100px;
    width: 50%;
    border-radius: 5px;
    font-family: "Amatic SC";
}

.notes-row {
    display: table-row;
    width: 100%;
    font-family: "Amatic SC";
}

td.notes {
    font-size: 30;
}

.notes-row.notes {
    display: table-row;
    width: 100%;
    border-bottom: 1px solid;
    color: black;
    font-family: "Amatic SC";
}

.notes-header {
    padding-top: 50px;
    font-family: "Amatic SC";
    border-width: 3px;
    border-color: black;
}