.entry {
    border-color: black;
    border-width: 20px;
    border-style: solid;
}


.table.table.log-table {
    margin-bottom: 0 !important;
}

.log-table {
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
    border: none;
    background-color: #8a8aac;
}

.table {
    background-color: #8a8aac !important;
    border-radius: 25px;
    padding: 15px;
}
.table-border {
    background-color: #8a8aac !important;
    border: 1px solid;
    border-color: black;
    width: inherit;
    border-spacing: 5px;
    border-collapse: separate;
}


td .enjoyed-text {
    vertical-align: middle;
    padding: 20px 0px;
    width: 200vh;
    display: table-cell;
    vertical-align: middle;
}

.journal-photo-col {
    width: 200px;
    height: auto;
    display: table-cell;
}

.journal-photo {
    display: table-row;
    height: 200px;
    width: auto;
    object-fit: cover;
    object-position: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #8a8aac !important;
    border-radius: 15px;
}

th {
    border: none !important;
    /*outline: 1px solid;*/
    height: min-content;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    vertical-align: text-bottom;
    background-color: #c7c7d7;
    color: white;
}

td {
    border: none !important;
    /*outline: 1px solid;*/
    height: min-content;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    vertical-align: top;
}

.journal-label {
    height: 20px;
    background-color: #8a8aac;
}

.row {
    display: table-row;
    padding-left: 15px;
}

.journal-entry {
    display: table-row;
    padding: 100px;
    width: 50%;
    border-radius: 5px;;
}

.notes-row {
    display: table-row;
    width: 100%;
}

.notes-row.notes {
    display: table-row;
    width: 100%;
    border-bottom: 1px solid;
    color: black;
}

.notes-header {
    padding-top: 50px;
}



