/*
Rose Gold: #bd8c7d

Soft Gold: #d1bfa7

Silver: #8e8e90

Onyx: #49494b
*/

.navbar {
    background-color:  #d1bfa7;
}
body
{
    margin: 50px;
}

h1
{
    text-align: center;
}

button {
    margin: 25px 0px;
    text-align: center;
}
.indented
{
    margin: 0px 25px;
}

.start-timer-button {
    width: 100%;
    text-align: center;
}
.tea-timer-box
{
    background-color: white;
    color: black;
    text-align: center;
    outline: 5px;
    outline-color: pink;
}

.teaReadyMessage_show{
    display: block;
}

.teaReadyMessage_hide{
    display: none;
}

.timer {
    width: 100%;
    font-size: large;
}