#message-div {

	font-family: "amatic sc";
	font-weight: bolder;
	letter-spacing: 2px;
	background-color: #c7c7d7;
    display: block;
    text-align: center;
    padding: 5%;
    border-radius: 15px;

}