#countdown {
    display: block;
    color: black;
    background-color: #D1E3Fa;
}

#teaTimerBox {
    background: #D1E3Fa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
}

#start-button, #reset-button{
    border-radius: 5px;
    width: 25%;  
    height: 10%;
    background-color: #5C5B61;
    border-color: #5C5B61;
}

.time{
    border: 2px;
    padding: 25px;
}

#teaTypeInput{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}