#countdown {
    display: block;
    color: black;
    background-color: #b6b9ad;
}

#teaTimerBox {
    background: #b6b9ad;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    width: 75%;

}


#start-button, #reset-button{
    border-radius: 5px;
    width: 25%;  
    height: 10%;
    background-color: #5C5B61;
    border-color: #5C5B61;
}

.time{
    border: 2px;
    padding: 20px;
}

#teaTypeInput{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}