<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Dawning of a New Day">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic SC">
{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<p style="font-family: 'amatic sc';">
You have requested a password reset for your account.
<br> Please click the link below tonreset your password:
<a href="{{ reset_url }}">{{ reset_url }}</a>
</p>  

<p>
--<br>
Questions? Comments? Email steepittogether@gmail.com.
</p>

{% endblock %}
</html>