
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div id="login-button">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
    <p class="centered">Steep It Together is a website for documenting your experiences with tea! Log in or create a free account today!</p>
{% endblock %}
